In [1]:
import pandas as pd

data86 = pd.read_excel('naturalizations_reg86-04.xls')
data04 = pd.read_excel('naturalizations_reg04-13.xls')

In [98]:
data86.drop()

,Country,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004
0,Total,308058,240252,314681,434107,488088,1044689,598225,463060,839944,888788,608205,573708,463204,537151
1,Europe,32986,27143,37774,56449,63602,109607,67783,58836,101318,121273,89431,93627,74186,89014
2,Albania,72,92,88,109,103,348,419,351,599,826,1032,2451,2284,3324
3,Andorra,NaN,NaN,0,0,0,NaN,0,NaN,3,NaN,NaN,NaN,0,0
4,Armenia,0,12,136,641,1215,2957,3037,2530,3190,2569,1972,1817,1676,1793
5,Austria,98,92,194,281,291,382,181,153,232,290,271,276,240,277
6,Azerbaijan,0,0,0,3,27,160,263,350,878,1318,946,1188,887,793
7,Belarus,0,0,NaN,3,89,393,727,833,1869,3063,2008,2142,1224,1464
8,Belgium,174,142,191,254,233,343,179,166,294,363,299,265,251,232
9,Bosnia-Herzegovina,0,0,NaN,18,29,44,50,33,300,1745,2759,4095,4994,8013
10,Bulgaria,227,166,168,247,256,627,356,263,498,847,1170,1311,1600,2487
11,Croatia,0,0,3,52,168,470,212,184,358,501,519,621,616,1084
12,Czech Republic,0,0,0,NaN,5,4,10,NaN,27,58,47,64,50,69
13,Czechoslovakia,863,677,643,712,692,733,434,315,548,658,492,454,333,434
14,Denmark,177,120,155,243,230,341,165,165,239,286,227,195,197,175
15,Estonia,32,11,16,58,72,91,52,52,82,108,105,110,102,126
16,Finland,89,90,103,138,138,186,94,110,159,201,115,141,119,352
17,France,1184,981,1140,1630,1413,2340,1261,1125,1903,2285,1745,1724,1476,1802
18,Georgia,0,0,NaN,4,25,70,101,76,147,407,415,444,416,382
19,Germany,2296,1938,2591,3763,3658,4664,2946,2517,4169,4522,3212,3431,3201,3836
20,Gibraltar,0,4,5,4,4,5,NaN,NaN,5,NaN,NaN,0,NaN,NaN
21,Greece,1850,1751,2106,2577,2135,3162,1885,1553,2355,2270,1676,1290,934,1100
22,Hungary,836,616,649,855,868,1159,568,531,884,1074,877,829,620,738
23,Iceland,26,36,31,37,37,43,38,32,50,52,44,32,41,79
24,Ireland,749,731,1067,1677,1959,3284,1835,1444,3414,5454,4441,3443,2585,2421
25,Italy,1998,1608,3502,5702,4065,5117,2445,2522,4393,4436,2987,2621,1849,2295
26,Kazakhstan,0,0,NaN,36,21,32,46,58,226,437,429,562,455,572
27,Kyrgyzstan,0,0,NaN,0,NaN,NaN,NaN,18,32,87,81,128,131,159
28,Latvia,51,50,66,138,186,336,202,194,383,484,360,376,224,335
29,Liechtenstein,0,3,NaN,0,3,NaN,0,NaN,0,0,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,St. Vincent and the Grenadines,329,249,334,540,492,1112,827,475,999,832,440,462,374,388
209,Trinidad and Tobago,3084,2588,3249,4874,4487,9288,5803,3784,7732,7265,4484,4822,3777,3958
210,Turks and Caicos Islands,NaN,NaN,3,8,19,70,41,19,83,43,40,18,15,16
211,U.S. Virgin Islands,10,11,20,8,9,18,5,10,NaN,12,NaN,7,4,5
212,Central America,11446,7495,10393,16842,29467,76361,39885,27505,53227,52788,30513,26843,22155,24677
213,Belize,504,305,384,635,874,1831,1353,988,2079,1802,1015,774,666,664
214,Costa Rica,795,547,668,1055,1138,2759,1574,1103,2087,1895,1146,1002,869,970
215,El Salvador,3691,2061,3038,5643,13702,35478,18273,12267,22991,24073,13663,10716,8738,9602
216,Guatemala,1847,1080,1685,3001,5093,13933,7914,5534,11031,11488,6281,5455,4564,5080
217,Honduras,1328,1249,1714,2215,2954,7881,4318,2752,5294,5188,3257,3505,3011,3455
218,Nicaragua,1750,1103,1501,2437,3950,11135,4409,3359,6651,5426,3564,3794,3054,3444
219,Panama,1531,1150,1403,1856,1756,3344,2044,1502,3094,2916,1587,1597,1253,1462
220,South America,21212,19969,26464,35014,38072,84520,42282,27550,54363,58009,42288,42888,33701,38676
221,Argentina,1869,1242,1602,2481,2714,5457,2247,1651,3366,3432,2211,2131,1880,1965
222,Bolivia,530,417,575,803,1186,2367,1093,845,1461,1375,908,1100,933,1125
223,Brazil,696,661,906,1322,1254,2961,2360,1947,4114,4524,3935,3889,3096,4074
224,Chile,942,716,867,1206,1315,3068,1427,1002,1892,1888,1205,1154,1074,1142
225,Colombia,5619,6451,9985,12309,12823,27483,11645,7024,13168,14018,10872,10634,7962,9819
226,Ecuador,2231,1855,2701,3965,5381,14547,7463,4674,8411,9487,6571,6402,5075,5616
227,Falkland Islands,0,NaN,0,0,NaN,0,NaN,0,0,NaN,0,0,0,0
228,French Guiana,5,NaN,NaN,NaN,NaN,0,NaN,0,NaN,NaN,NaN,6,NaN,6
229,Guyana,4863,4726,4964,6081,5499,11223,7544,4575,10366,10820,7052,7224,4934,4877
230,Paraguay,131,129,173,259,230,491,248,112,193,214,166,198,175,178
231,Peru,3141,2645,3285,4754,5921,12884,6352,4353,8308,8958,6675,7385,6139,6980
232,Suriname,35,46,NaN,NaN,NaN,134,NaN,45,NaN,163,NaN,120,NaN,97
233,Uruguay,400,368,581,667,679,1372,622,397,689,693,472,486,352,412
234,Venezuela,750,710,798,1078,1009,2533,1205,925,2263,2426,2107,2159,1959,2385
235,Born on ship,0,0,0,0,0,NaN,0,0,0,0,NaN,0,0,0
236,Stateless,0,0,0,0,0,0,44,28,67,42,23,15,6,0
237,Unknown,92,113,265,621,681,6061,2763,423,1881,2600,1432,933,954,1358

In [91]:
data04[data04.Country=='Venezuela']

       Country  2004  2005  2006  2007  2008  2009  2010  2011  2012  2013
199  Venezuela  2385  2659  4476  3575  6557  4735  5243  6856  7404  7648

In [54]:
data = pd.DataFrame(columns=data86.columns+data04.columns[1:])
data.columns
for country in data86.Country:
    begin = data86[data86.Country==country]
    end = []
    try: 
        end = data04[data04.Country==country]
    except:
        pass
    
    if end.empty:
        new_entry = begin.iloc[0].tolist() + [None,None,None,None,None,None,None,None,None]
    else:
        new_entry = begin.iloc[0].tolist() + end.iloc[0].tolist()[2:]
        
    appension =  pd.DataFrame(new_entry).transpose()
    appension.columns = data.columns
   
    data = data.append(appension)

/home/nshlapo/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: using '+' to provide set union with Indexes is deprecated, use '|' or .union()
  if __name__ == '__main__':

In [74]:
for country in data04.Country:
    if country not in data.Country.tolist():
        begin = [country, None,None,None,None,None,None,None,None,None,None,None,None,None,None]
        end = data04[data04.Country==country]
        
        new_entry = begin + end.iloc[0].tolist()[2:]
        
        appension =  pd.DataFrame(new_entry).transpose()
        appension.columns = data.columns
        
        data = data.append(appension)
        
trans_data = data.transpose().head()
trans_data.columns=trans_data.iloc[0]
trans_data = trans_data[trans_data.Total!='Total']

data.to_csv('../Data/naturalization_by_nat.csv')

In [85]:
trans_data

Country,Total,Europe,Albania,Andorra,Armenia,Austria,Azerbaijan,Belarus,Belgium,Bosnia-Herzegovina,...,Russia,Saint Kitts-Nevis,Saint Lucia,Saint Vincent and the Grenadines,Samoa,Serbia,Slovakia,South Sudan,Soviet Union (former),All other countries
1991,308058,32986,72,NaN,0,98,0,0,174,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992,240252,27143,92,NaN,12,92,0,0,142,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993,314681,37774,88,0,136,194,0,NaN,191,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1994,434107,56449,109,0,641,281,3,3,254,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
data_nat = pd.read_excel('naturalizations07-13.xls')
data_nat.set_index('Year', inplace=True)
del data_nat.index.name
data_nat.to_csv('../../Data/naturalization.csv')

In [9]:
data_nat

,Petitions Filed,Total Naturalized,Civilians Naturalized,Military Naturalized,Not Reported Naturalized,Petitions Denied
1907,21113,7941,7941,NaN,0,250
1908,44032,25975,25975,NaN,0,3330
1909,43141,38374,38374,NaN,0,6341
1910,55750,39448,39448,NaN,0,7781
1911,74740,56683,56683,NaN,0,9017
1912,95661,70310,70310,NaN,0,9635
1913,95380,83561,83561,NaN,0,10891
1914,124475,104145,104145,NaN,0,13133
1915,106399,91848,91848,NaN,0,13691
1916,108767,87831,87831,NaN,0,11927
1917,130865,88104,88104,NaN,0,9544
1918,169507,151449,87456,63993,0,12182
1919,256858,217358,89023,128335,0,13119
1920,218732,177683,125711,51972,0,15586
1921,195534,181292,163656,17636,0,18981
1922,162638,170447,160979,9468,0,29076
1923,165168,145084,137975,7109,0,24884
1924,177117,150510,140340,10170,0,18324
1925,162258,152457,152457,NaN,0,15613
1926,172232,146331,146239,92,0,13274
1927,240339,199804,195493,4311,0,11946
1928,240321,233155,228006,5149,0,12479
1929,255519,224728,224197,531,0,11848
1930,113151,169377,167637,1740,0,9068
1931,145474,143495,140271,3224,0,7514
1932,131062,136600,136598,2,0,5478
1933,112629,113363,112368,995,0,4703
1934,117125,113669,110867,2802,0,1133
1935,131378,118945,118945,NaN,0,2765
1936,167127,141265,140784,481,0,3124
...,...,...,...,...,...,...
1984,286440,195862,190984,2944,1934,3373
1985,305981,242451,236202,3237,3012,3610
1986,290732,279497,274263,2886,2348,5980
1987,232988,223249,220393,2362,494,6771
1988,237752,240775,238275,2278,222,4304
1989,227692,232655,230088,1947,620,5200
1990,233843,267586,245410,1618,20558,6516
1991,206668,307394,298741,1802,6851,6268
1992,342238,239664,221997,5699,11968,19293
1993,521866,313590,302383,7062,4145,39931
1994,543353,429123,398364,5890,24869,40561
1995,959963,485720,472518,3855,9347,46067
1996,1277403,1040991,924368,1214,115409,229842
1997,1412712,596010,532871,531,62608,130676
1998,932957,461169,437689,961,22519,137395
1999,765346,837418,740718,711,95989,379993
2000,460916,886026,812579,836,72611,399670
2001,501643,606259,575030,758,30471,218326
2002,700649,572646,550835,1053,20758,139779
2003,523370,462435,449123,3865,9447,91599
2004,662796,537151,520771,4668,11712,103339
2005,602972,604280,589269,4614,10397,108247
2006,730642,702589,684484,6259,11846,120722
2007,1382993,660477,648005,3808,8664,89683
2008,525786,1046539,1032281,4342,9916,121283
2009,570442,743715,726043,7100,10572,109813
2010,710544,619913,604410,9122,6381,56994
2011,756008,694193,677385,8373,8435,57065
2012,899162,757434,745932,7257,4245,65874
2013,772623,779929,769073,6652,4204,83112