In [13]:
import pandas as pd


data_90_04 = pd.read_excel('refugee_nat90-04.xls')
data80_13 = pd.read_excel('refugee80-13.xls')

In [14]:
data = pd.read_excel('refugee80-13.xls')
data.set_index('Year', inplace=True)
del data.index.name
data.to_csv('../../Data/refugee.csv')

In [15]:
data.head()

      Refugees
1980    207116
1981    159252
1982     98096
1983     61218
1984     70393

In [168]:
data_old = pd.read_excel('refugee_nat90-04.xls')
data_old.set_index(data_old['Country'], inplace=True)
data_old.drop('Country',1, inplace=True)
data_old.drop(2004, 1, inplace=True)
del data_old.index.name
data_old[-4:].head()

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003
Argentina,NaN,0,0,0,0,0,0,0,0,0,0,5,0,0
Colombia,0,0,0,NaN,0,0,0,0,0,0,0,0,8,149
Venezuela,0,0,0,NaN,0,0,0,0,0,0,0,0,0,0
Other,NaN,0,0,0,0,0,2,0,0,1,0,0,0,0

In [169]:
data_new = pd.read_excel('refugee_nat04-13.xls')
data_new.set_index(data_new['Country'], inplace=True)
data_new.drop('Country',1,inplace=True)
del data_new.index.name
data_new[-4:].head()

          2004  2005  2006  2007  2008  2009  2010  2011  2012  2013
Yemen        8   NaN    11     6     0    47    15     0     0    12
Zimbabwe   NaN   NaN    13   NaN     3    10     7     8     3    12
Other       26    29    28    18    28    26    45    36    31    37
Unknown      0     0     0     0     9    65  1053   136   148   164

In [171]:
data = pd.join([data_old, data_new], axis=1)
data

AttributeError: 'module' object has no attribute 'join'

In [94]:
data_04_13.head()
new_dat = data_04_13.drop(2004, 1).drop('Country',1)

doodaht = pd.concat([data_90_04, new_dat], axis=1)
doodaht

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Total,109078,96589,114498,107926,109593,98520,74791,69276,76181,...,52835,53738,41094,48218,60107,74602,73293,56384,58179,69909
1,Europe,56912,45516,64184,51278,50838,45703,41617,48450,54260,...,9254,20746,18129,17486,8943,9678,13325,7693,10629,15984
2,Albania,98,1363,1108,458,171,51,23,9,NaN,...,NaN,15769,10086,23564,44819,58309,52695,44583,44416,48840
3,Armenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,88,10524,9615,4192,2059,1693,1238,996,908,482
4,Azerbaijan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,407,6368,3145,2922,4177,4800,4856,2930,1948,4206
5,Belarus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,659,0,0,0,0,0,0,0,0,0
6,Bosnia-Herzegovina,NaN,NaN,0,1887,7088,9870,12030,21357,30906,...,244,331,119,54,100,57,126,46,130,233
7,Bulgaria,332,585,126,34,NaN,3,0,0,0,...,0,0,0,0,9,65,1053,136,148,164
8,Croatia,NaN,NaN,0,0,0,0,0,0,0,...,92,902,651,441,576,349,515,428,481,661
9,Czechoslovakia,345,158,NaN,3,5,0,NaN,0,0,...,0,21,13,4,0,8,0,NaN,0,6
10,Estonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27,86,87,29,9,4,NaN,15,8,3
11,France,0,0,0,0,0,0,0,0,0,...,0,299,77,78,30,38,18,16,10,3
12,Georgia,NaN,NaN,0,0,0,0,0,0,0,...,33,445,350,219,111,146,103,66,83,10
13,Hungary,274,7,NaN,0,NaN,0,0,0,0,...,0,0,3,0,5320,13452,12363,14999,15070,9134
14,Kazakhstan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,312,61,16,NaN,0,0,0,0,0,0
15,Kyrgyzstan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100,1447,1612,13896,18139,18202,16693,16972,14160,16299
16,Latvia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,52,214,466,4545,2889,762,530,110,186,193
17,Lithuania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13,9,9,15,8,15,9,5,6,30
18,Macedonia,NaN,NaN,NaN,NaN,0,0,0,0,0,...,0,6,29,5,NaN,4,6,0,7,0
19,Moldova,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1711,0,23,15,56,59,45,182,136,318
20,Poland,1491,290,134,54,31,39,NaN,6,NaN,...,0,0,4,10,23,6,28,25,12,32
21,Romania,3650,4452,1499,215,67,24,16,3,0,...,0,13,21,27,50,54,72,28,54,101
22,Russia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1446,323,115,54,94,57,123,46,126,230
23,Serbia and Montenegro,6,0,0,0,0,0,0,3,0,...,151,424,405,848,727,1135,3174,977,1863,2563
24,Slovakia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,43,66,206,197,293,154,27,102,161
25,Slovenia,NaN,NaN,0,0,0,0,0,0,0,...,0,5,23,11,30,9,4,7,33,20
26,Soviet Union,50716,38661,61298,48627,43470,35716,29536,27072,23349,...,0,39,NaN,0,0,0,0,0,0,0
27,Tajikistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,6360,3143,2922,4177,4800,4818,2920,1948,4205
28,Turkmenistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7,0,NaN,3,5,7,15,6,13,3
29,Ukraine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3482,25,11,14,0,9,9,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,Malawi,0,0,0,NaN,0,0,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,Mauritania,0,0,0,0,0,0,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,Mozambique,3,12,8,0,NaN,0,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,Namibia,0,0,0,0,0,0,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,Nigeria,0,0,0,0,0,0,34,7,312,...,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,Rwanda,0,NaN,NaN,7,31,88,118,100,86,...,176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,Senegal,0,0,0,0,0,0,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,Sierra Leone,0,0,0,0,0,48,13,57,176,...,1084,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,Somalia,25,192,1570,2753,3555,2506,6436,4974,2951,...,13331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,South Africa,34,19,15,8,0,0,NaN,NaN,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,Sudan,7,24,113,244,1220,1705,575,277,1252,...,3500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,Tanzania,0,0,0,0,0,0,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,Togo,0,0,0,0,0,25,NaN,30,15,...,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,Tunisia,0,0,0,0,NaN,0,0,0,3,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,Uganda,27,125,93,24,NaN,10,10,9,NaN,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,Zambia,0,0,0,NaN,0,0,4,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,Zimbabwe,0,0,0,0,0,0,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,North America,5307,4026,3777,4374,6437,7618,3539,2986,1587,...,2977,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,Caribbean,4753,3933,3774,4372,6436,7618,3537,2986,1587,...,2976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,Cuba,4753,3933,3720,3065,2670,6133,3498,2911,1587,...,2959,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,Haiti,0,0,54,1307,3766,1485,39,75,0,...,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,Central America,554,93,3,NaN,NaN,0,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,Costa Rica,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,El Salvador,22,6,NaN,NaN,0,0,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,Nicaragua,532,87,NaN,NaN,NaN,0,NaN,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,South America,5,0,0,3,0,0,2,0,0,...,579,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,Argentina,NaN,0,0,0,0,0,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,Colombia,0,0,0,NaN,0,0,0,0,0,...,577,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,Venezuela,0,0,0,NaN,0,0,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,Other,NaN,0,0,0,0,0,2,0,0,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
data = pd.DataFrame(columns=data_90_04.columns+data_04_13.columns[1:])

for country in data_90_04.Country:
    begin = data_90_04[data_90_04.Country==country]
    end = []
    try: 
        end = data_04_13[data_04_13.Country==country]
    except:
        pass
    
    if end.empty:
        new_entry = begin.iloc[0].tolist() + [None,None,None,None,None,None,None,None,None]
    else:
        new_entry = begin.iloc[0].tolist() + end.iloc[0].tolist()[2:]
        
    appension =  pd.DataFrame(new_entry).transpose()
    appension.columns = data.columns
   
    data = data.append(appension)

/home/nshlapo/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: using '+' to provide set union with Indexes is deprecated, use '|' or .union()
  if __name__ == '__main__':

In [80]:
for country in data_04_13.Country:
    if country not in data.Country.tolist():
        begin = [country, None,None,None,None,None,None,None,None,None,None,None,None,None,None,None]
        end = data_04_13[data_04_13.Country==country]
        
        new_entry = begin + end.iloc[0].tolist()[2:]
        
        appension =  pd.DataFrame(new_entry).transpose()
        appension.columns = data.columns
        
        data = data.append(appension)

In [81]:
data.set_index(data.Country, inplace=True)
data.drop('Country', 1, inplace=True)
data = data.transpose()
data
# data.to_csv('../Data/refugee_by_nat.csv')

Country,Total,Europe,Albania,Armenia,Azerbaijan,Belarus,Bosnia-Herzegovina,Bulgaria,Croatia,Czechoslovakia,...,Honduras,Iran,Iraq,"Korea, North",Laos,Liberia,Somalia,South Sudan,Sudan,Uganda
1990,109078,56912,98,NaN,NaN,NaN,NaN,332,NaN,345,...,None,None,None,None,None,None,None,None,None,None
1991,96589,45516,1363,NaN,NaN,NaN,NaN,585,NaN,158,...,None,None,None,None,None,None,None,None,None,None
1992,114498,64184,1108,NaN,NaN,NaN,0,126,0,NaN,...,None,None,None,None,None,None,None,None,None,None
1993,107926,51278,458,NaN,NaN,NaN,1887,34,0,3,...,None,None,None,None,None,None,None,None,None,None
1994,109593,50838,171,NaN,NaN,NaN,7088,NaN,0,5,...,None,None,None,None,None,None,None,None,None,None
1995,98520,45703,51,NaN,NaN,NaN,9870,3,0,0,...,None,None,None,None,None,None,None,None,None,None
1996,74791,41617,23,NaN,NaN,NaN,12030,0,0,NaN,...,None,None,None,None,None,None,None,None,None,None
1997,69276,48450,9,NaN,NaN,NaN,21357,0,0,0,...,None,None,None,None,None,None,None,None,None,None
1998,76181,54260,NaN,NaN,NaN,NaN,30906,0,0,0,...,None,None,None,None,None,None,None,None,None,None
1999,85076,55877,8,35,210,1008,22699,0,1660,0,...,None,None,None,None,None,None,None,None,None,None
2000,72143,37664,NaN,20,259,1050,19033,0,2995,NaN,...,None,None,None,None,None,None,None,None,None,None
2001,68925,31526,3,27,449,971,14593,0,1020,0,...,None,None,None,None,None,None,None,None,None,None
2002,26839,15408,5,30,115,680,3463,0,109,0,...,None,None,None,None,None,None,None,None,None,None
2003,28306,11269,NaN,63,406,702,525,0,144,0,...,None,None,None,None,None,None,None,None,None,None
2004,52835,9254,NaN,88,407,659,244,0,92,0,...,None,None,None,None,None,None,None,None,None,None
2005,53738,10524,None,86,299,445,61,None,39,None,...,0,1856,198,0,8517,4289,10405,NaN,2205,10
2006,41094,9615,None,87,77,350,16,None,NaN,None,...,0,2792,202,9,830,2346,10357,NaN,1848,20
2007,48218,4192,None,29,78,219,NaN,None,0,None,...,0,5482,1608,22,117,1606,6969,NaN,705,38
2008,60107,2059,None,9,30,111,0,None,0,None,...,0,5270,13822,37,59,992,2523,NaN,375,42
2009,74602,1693,None,4,38,146,0,None,0,None,...,0,5381,18838,25,14,385,4189,NaN,683,8
2010,73293,1238,None,NaN,18,103,0,None,0,None,...,20,3543,18016,8,36,244,4884,NaN,558,30
2011,56384,996,None,15,16,66,0,None,0,None,...,5,2032,9388,23,211,121,3161,0,334,10
2012,58179,908,None,8,10,83,0,None,0,None,...,0,1758,12163,22,21,69,4911,NaN,1077,18
2013,69909,482,None,3,3,10,0,None,0,None,...,0,2579,19487,17,0,94,7608,17,2160,15

In [65]:
data_ref = pd.read_excel('refugee80-13.xls')
data_ref.set_index(data_ref['Year'], inplace=True)
data_ref.drop('Year', 1, inplace=True)
data_ref.to_csv('../Data/refugee.csv')